<% provide :title, t("title.static_pages.home") %>

<h1><%= t("static_pages.home.title") %></h1>
<p>
  <%= t("static_pages.home.rails_tutorial_home") %>
  <a href = "http://www.railstutorial.org/"><%= t("static_pages.home.rails_tutorial_link") %></a>
  <%= t("static_pages.home.sample_app") %>
</p>
